.adyBrand {
    color: #7aa8cf !important;
    text-shadow: 1px 1px 1px #000000 , -1px -1px 1px #000000 , 2px 4px 4px #941d1d;
    font-style: italic;
    font-weight: bold;
}

.bg-ragdiant-primary {
    font-family: Charm;
    background: -webkit-radial-gradient(center center, rgb(41, 128, 185) 0%, rgb(109, 213, 250) 50%, rgb(255, 255, 255) 100%);
}

.pageBody {
    min-width: 100vw;
    min-height: 100vh;
}